h1 {
  @apply text-3xl sm:text-4xl font-bold text-gray-900 dark:text-white tracking-tight mb-5;

  &:not(:first-child) {
    @apply mt-5;
  }
}

h2 {
  font-weight: 600;
  line-height: 120%;
  font-size: 30px;
  margin-bottom: 17px;

  @media (max-width: 600px) {
    font-size: 17px;
  }

  &:not(:first-child) {
    margin-top: 17px;
  }
}
