$color-black: #111;
$color-dark: #222;

$color-gray: #888;
$color-light-gray: #ccc;
$color-white: #fff;

$color-main: #00aeef;
$color-danger: #ff5050;
$color-success: #00e600;
$color-warn: #ff8c00;

$font-main: Play, sans-serif;
$font-mono: "Roboto Mono", monospace;
